asgiref==3.8.1
click==8.1.8
Django==5.1.5
django-cors-headers==4.7.0
django-crispy-forms==1.14.0
django-extensions==3.2.3
flake8==5.0.4
flake8-quotes==3.3.1
flake8-variables-names==0.0.5
gunicorn==23.0.0
h11==0.14.0
mccabe==0.7.0
packaging==24.2
pep8-naming==0.13.2
pillow==11.1.0
psycopg2==2.9.10
pycodestyle==2.9.1
pydot==3.0.4
pydotplus==2.0.2
pyflakes==2.5.0
pyparsing==3.2.1
python-dotenv==1.0.1
sqlparse==0.5.3
uvicorn==0.34.0
whitenoise==6.9.0
